body{background-color: yellowgreen}

h1{
    color: white;
    font-size: 15px;
    background-color: cornflowerblue;
    padding: 20px;
    text-align: center;

}
h6{
    color: green;
    font-size: 50px;
    background-color: coral;
    text-align: center;
    padding: 20px 0;
    width: 70%;
    margin: auto;
    border: 8px solid darkorchid;

}

.div_left{
    background-color: cornflowerblue;
    height: 300px;
    width: 500px;
    float: left;
    margin: 20px;
    padding: 30px;
    border-radius: 50px 0;
    border-style: groove;
    border-color: aliceblue;
}
.div_right{
    background-color: blueviolet;
    height: 300px;
    width: 500px;
    float: left;
    margin: 20px;
    padding: 30px;
    border: 10px solid yellow;
    border-radius: 50px 0;
    border-style: groove;
    border-color: aliceblue;
}
.div_center{
    background-color: lightgreen;
    height: 300px;
    width: 100%;
    float: left;
    margin: 20px;
    padding: 30px;
    border-radius: 50px 0;
    overflow: hidden;
    font-size: 130%;
    border-style: groove;
    border-color: aliceblue;
}

.shape{
    width:100px;
    height:100px;
    text-align:center;
    line-height:100px;
    display:inline-block;
    margin:10px;
    border-radius: 50%;

}

.container{
    margin:auto;
    width:50%;
}
.shape_hover:hover{background-color: cornsilk;}

.body{
    background-image: url("image.jpg");
    background-repeat: no-repeat;
    background-size:cover;


}
